.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(100vh - 84px - 80px);

  background-color: #444;
}

.letterD {
  position: absolute;
  top: 1vh;
  left: 15vw;

  width: min(35vw, 55vh);
}

.title {
  z-index: 1;

  padding: 1rem;
  padding-top: 2rem;

  font-size: max(2rem, 4vw);
  color: #fff;
  text-align: center;
}

.image {
  z-index: 1;

  max-width: 100%;
  height: auto;
  padding: 1rem;
}
