.headerWrapper {
  display: flex;
  justify-content: space-between;

  height: 80px;

  background-color: #000;
}

.leftBlock,
.languageText {
  display: flex;
  align-items: center;
}

.rightBlock {
  display: flex;
  gap: 36px;

  margin: 0 64px 0 0;
}

.auth {
  display: flex;
  gap: 36px;
}

.home,
.signIn,
.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  transition: 0.4s;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  margin-bottom: 5px;

  background-color: transparent;
  border: none;
}

.heading {
  margin: 0 164px 0 53px;

  font-size: 64px;
  color: #fff;
}

.homeText,
.signInText,
.signUpText {
  margin: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.languageEng,
.languageRus {
  margin: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #444;
}

.activeLanguage {
  color: #fff;
}

.languageText {
  gap: 14px;

  margin-top: 12px;
}

/* Toggle switch */

.switch {
  position: relative;

  display: inline-block;

  width: 138px;
  height: 20px;
}

.switch input {
  width: 0;
  height: 0;

  opacity: 0;
}

.slider {
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: transparent;
  border: 2px solid #fff;

  transition: 0.4s;
}

.signIn:hover,
.signUp:hover,
.home:hover,
.slider:hover {
  transform: scale(1.2);
}

.signIn:active,
.signUp:active,
.home:active,
.slider:active {
  transform: scale(1);
}

.slider::before {
  content: "";

  position: absolute;

  width: 26px;
  height: 26px;

  background-color: white;

  transition: 0.4s;
}

.sliderEng::before {
  left: 78px;
}

.sliderRu::before {
  left: 0;
}

.slider.round {
  border-radius: 5px;
}

.slider.round::before {
  width: 53px;
  height: 12px;

  background: #fff;
  border: 2px solid #000;
  border-radius: 5px;
}

@media screen and (max-width: 1440px) {
  .heading {
    position: absolute;

    overflow: hidden;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    border: 0;
  }

  .leftBlock {
    margin-left: 64px;
  }
}

@media screen and (max-width: 770px) {
  .headerWrapper {
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;

    height: auto;
  }

  .home {
    margin-right: 0;
  }

  .rightBlock {
    flex-wrap: wrap;
    justify-content: center;

    margin-right: 0;
  }
}

@media screen and (max-width: 520px) {
  .leftBlock {
    justify-content: center;

    margin-left: 0;
  }
}
