.footerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  height: 84px;
}

.githubLink, .year {
  font-size: 36px;
  color: #fff;
}

.githubLink {
  text-decoration: none;
  display: inline-block;
}

.githubLink:hover {
  cursor: pointer;
  transition: .3s ease-in-out;
  transform: scale(1.2);
}

.githubLink:nth-child(2) {
  margin: 0 48px;
}

.logo {
  margin-left: 79px;
}

.year {
  margin-right: 79px;
}